{
    "ldap": {
        "domain": "vanoord.com",
        "baseDn": "DC=ad,DC=university,DC=edu",
        "url": "ldap://ad.university.edu:2222",
        "bindCn": "CN=vo-srv-wepres,OU=Service Accounts,OU=Admin,OU=vanoord,DC=ballastham,DC=com",
        "bindPassword": "((R0))09",
        "autopublishFields": [ "displayName", "givenName", "department", "employeeNumber", "mail", "title", "address", "phone"],
        "groupMembership": [
            "Employees",
            "Administrators",
            "Editors"
        ]
    }
}