{
    "ldap": {
        "debug": true,
        "domain": "test.com",
        "baseDn": "DC=ad,DC=university,DC=edu",
        "url": "ldap://ad.university.edu:2222",
        "bindCn": "CN=test,DC=com",
        "bindPassword": "secret",
        "autopublishFields": [
            "displayName",
            "givenName",
            "department",
            "employeeNumber",
            "mail",
            "title",
            "address",
            "phone"
        ],
        "groupMembership": [
            "Employees",
            "Administrators",
            "Editors"
        ]
    }
}
